$bg-color: #333;
$container-color: #000;
$color: #eee;


@font-face {
	font-family: "Genshin";
	src: url('media/Genshin_Impact_Font.woff') format('woff');
}

body{
	font-family: "Genshin","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: $bg-color;
	margin: 0 0 0 0;
}
.container {
	/*opacity: 0.5;*/
	position: absolute;
	left: 50%;
	top: 22px;
	margin-left: -246px;
	width: 492px;
	height: auto;
	background-color: $container-color;
	color: $color;
	
	.backdrop {
		opacity: 0.2;
		position:absolute;	
		background-blend-mode: color;
		height: 225px;
		right: 0px;
		top: 58px;
	}
	/*left: 261px; /*overlap screenshot*/
	/*left: 430px; /*next to the screenshot*/
}

.header {
	font-size: 33px;
	background: #bc6932;
	height: 58px;
	z-index: 10;
	img {
		opacity: 0.2;
		filter: blur(0.4px);
	}
	.name {
		position: absolute;
		top: 9px;
		left: 24px;
	}
}
.top {
	height: 220px;
	border-bottom: 5px solid #916f4e;
	
	padding-left: 24px;
	.piece{
		position: relative;
		top: 12px;
		font-size: 22px;
	}
	.image {
		height: 224px;
		width: auto;
		position: absolute;
		top: 58px;
		right: 5px
	}
	.mainstat {
		position: relative;
		top: 60px;
		.type {
			color: #beaea9;
			font-size: 22px;
		}
		.value {
			font-size: 45px;
		}
	}
	.rarity {
		color: #ffcc32;
		font-size: 60px;
		position: relative;
		top: 64px;
		letter-spacing: 4px;
	}
}

.bottom {
	color: #38434e;
	background-color: #e4ded2;
	padding-left: 32px;
	height: 300px;
	position: relative;
	.level {
		color:white;
		width: 52px;
		height: 27px;
		padding-left: 4px;
		border-radius: 5px;
		background: #38434e;
		position: relative;
		top: 26px;
		font-size: 23px;

	}
	.substats {
		color:  #556;
		position: relative;
		top: 39px;
		font-size: 25px;
		.stat {
			padding-top: 9px;
		}
		.stat::before {
			padding-left: 6px;
			padding-right: 8px;
			font-size: 20px;
			content:  '•';
		}
	}

	.set {
		position: relative;
		top: 48px;
		color: #5db257;
		font-size: 26px;
	}
}

.top[rarity="5"] {
	background-blend-mode: overlay;
	/*background:
	linear-gradient(355deg, #e2a441 0%, #5c433e 100%),
	linear-gradient(280deg, #e2a441 0%, #5c433e 90%);*/
	background: 
		linear-gradient(355deg, #c9ab7b 0%, #745a56 100%), 
		linear-gradient(280deg, #c2892d 0%, #4a4a4a 100%);
	/*radial-gradient(circle, rgba(219,163,80,1) 0%, rgba(106,84,83,1) 100%);*/
}