@charset "UTF-8";
@font-face {
  font-family: "Genshin";
  src: url("../media/Genshin_Impact_Font.woff") format("woff");
}
body {
  color: #eee;
  font-family: "Genshin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #333;
  margin: 0 0 0 0;
  letter-spacing: -1px;
}

.container {
  text-align: left;
  position: absolute;
  margin-top: 1%;
  width: 492px;
  left: calc(50% - 246px);
  /*left: 261px; /*overlap screenshot*/
  /*left: 430px; /*next to the screenshot*/
}
@media only screen and (max-width: 500px) {
  .container {
    width: 98%;
    left: 1%;
  }
}
.container .backdrop {
  opacity: 0.2;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-blend-mode: color;
  height: 225px;
  right: 0px;
  top: 58px;
}

.header {
  font-size: 33px;
  background: #bc6932;
  height: 58px;
  z-index: 10;
}
@media only screen and (max-width: 500px) {
  .header {
    font-size: 28px;
  }
}
.header .artifact-border {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .artifact-border div, .header .artifact-border img {
  filter: blur(0.4px);
  height: 58px;
  position: absolute;
}
.header .artifact-border .artifact-border-middle {
  filter: blur(0.4px);
  width: 98%;
  left: 1%;
}
.header .artifact-border .artifact-border-right {
  right: 0px;
  transform: rotateY(180deg);
}
.header .name {
  padding-top: 10px;
  padding-left: 24px;
  max-height: 100%;
  font-size: 32px;
  vertical-align: center;
}

.top {
  height: 220px;
  border-bottom: 5px solid #886a51;
  padding-left: 24px;
}
.top .piece {
  letter-spacing: 0px;
  position: relative;
  top: 12px;
  font-size: 20px;
}
.top .image {
  height: 224px;
  width: auto;
  position: absolute;
  top: 58px;
  right: 5px;
}
@media only screen and (max-width: 500px) {
  .top .image {
    height: 180px;
  }
}
.top .mainstat {
  position: relative;
  top: 69px;
}
.top .mainstat .type {
  color: #beaea9;
  font-size: 20px;
}
.top .mainstat .value {
  letter-spacing: 0px;
  font-size: 45px;
}
.top .rarity {
  color: #ffcc32;
  font-size: 60px;
  position: relative;
  top: 70px;
  letter-spacing: 5px;
}

.bottom {
  color: #38434e;
  background-color: #e4ded2;
  padding-left: 32px;
  height: 300px;
  position: relative;
}
.bottom .level {
  text-align: center;
  color: white;
  width: 52px;
  height: 27px;
  padding-left: 2px;
  border-radius: 5px;
  background: #38434e;
  position: relative;
  top: 26px;
  font-size: 23px;
}
@media only screen and (max-width: 500px) {
  .bottom .level {
    padding-top: 1px;
  }
}
.bottom .substats {
  color: #556;
  position: relative;
  top: 42px;
  font-size: 25px;
}
@media only screen and (max-width: 500px) {
  .bottom .substats {
    font-size: 24px;
  }
}
.bottom .substats .stat {
  padding-top: 8px;
}
.bottom .substats .stat::before {
  padding-left: 6px;
  padding-right: 8px;
  font-size: 20px;
  content: "•";
}
.bottom .set {
  position: relative;
  top: 51px;
  color: #5cb256;
  font-size: 24px;
}

.top[rarity="5"] {
  background: linear-gradient(345deg, rgba(0, 0, 0, 0) 5%, #a4744e 50%, #655151 100%), linear-gradient(325deg, rgba(0, 0, 0, 0) 5%, #a4744e 50%, #655151 100%), #f1ac3f;
}

.levelup {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.levelup #enhance {
  width: 340px;
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  .levelup #enhance {
    width: 240px;
  }
}
.levelup .levels {
  left: 10px;
  height: 62px;
  display: inline-block;
  color: #ffcc32;
  font-size: 28px;
}
.levelup .levels input {
  color: #ffcc32;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 62px;
  width: 40px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  font-family: "Genshin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
}
.levelup .levels input:focus {
  outline: 0;
}
.levelup .levels input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.levelup .levels .updown {
  position: absolute;
  right: 6px;
  top: -10px;
  font-size: 50px;
  line-height: 40px;
}
.levelup .levels .updown div {
  padding: 5px 0 0 8px;
  margin-bottom: 2px;
  background-color: #38434e;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.levelup .levels .updown .down {
  font-size: 54px;
}
.levelup .levels .updown > div:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2666666667);
}
.levelup .levels .updown > div:active {
  color: #ffff5a;
  background: #978159;
}

.link {
  left: 14px;
  position: absolute;
  top: calc(100% - 20px);
}
.link a {
  color: #fff;
}

.checkbox-container {
  width: 160px;
  float: right;
  position: absolute;
  margin-left: 10px;
  top: -60px;
}
.checkbox-container .checkbox {
  margin-bottom: 3px;
}

.settings {
  position: absolute;
  left: calc(50% + 246px);
  margin-left: 20px;
}
.settings label {
  text-align: right;
  min-width: 60px;
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  .settings {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */