$bg-color: #333;
$color: #eee;
$yellow: #ffcc32;
$beige: #e4ded2;
$dark-color: #38434e;
$red: #e6455f;


$font-family: "Genshin","Helvetica Neue",Helvetica,Arial,sans-serif;
@font-face {
	font-family: "Genshin";
	src: url('../media/Genshin_Impact_Font.woff') format('woff');
}

$containerWidth: 492px;


@import './artifact';

body {
	color: $color;
	font-family: $font-family;
	background: $bg-color;
	margin: 0 0 0 0;
	letter-spacing: -1px;
}

.levelup {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	user-select: none;
	#enhance {
		width: 340px;
		display: inline-block;

		@media only screen and (max-width: 500px) {
			width: 240px;
		}
	}
	.levels {
		left: 10px;
		height: 62px;
		display: inline-block;
		color: $yellow;
		font-size: 28px;
		input {
			color: $yellow;
			background-color: #0000;
			border: none;
			height: 62px;
			width: 40px;
			user-select: text;
			font-family: $font-family;
			font-size: 28px;
		}
		input:focus{
			outline: 0;
		}
		input[type=number]::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		.updown {
			position: absolute;
			right: 6px;
			top: -10px;
			font-size: 50px;
			line-height: 40px;
			div {
				
				padding: 5px 0 0 8px;
				margin-bottom: 2px;
				background-color: $dark-color;
				border-radius: 5px;
				height: 40px;
				width: 40px;
			}
			.down {				
				font-size: 54px;
			}
		}
		.updown > div:hover {
			box-shadow: 0 0 4px #fff4;
			
		}
		.updown > div:active {
			color: #ffff5a;
			background: #978159;
		}
	}
}

.link {
	left: 14px;
	position: absolute;
	bottom: 10px;
	a {
		color: #fff;
	}
	
	@media only screen and (max-width: 500px) {
		display: none;
	}
}


.settings {
	
	z-index: 3;
	width: 650px;
	position: absolute;
	left: calc(50% + $containerWidth / 2);
	margin-left: 20px;

	label {
		min-width: 60px;
		display: inline-block;
	}
	
	.link{
		display: none;
	}
	@media only screen and (max-width: 500px) {
		left: 0px;
		width: calc(100% - 20px);
		height: fit-content;
		margin-left: 0px;
		padding-top: 50px;
		background: #38434e;

		.link{
			display: block;
		}
	}


	padding: 10px;
	padding-bottom: 50px;
}


.enhanced-reroll-container {
	div {
		display: inline-block;
	}

	top: 30px;
	
	margin-left: 20px;
	position: absolute;
	
	.checkbox {
		position: relative;
		top: 8px;
		left: 10px;
		margin-bottom: 10px;
	}
}


@media only screen and (max-width: 500px) {
	.settings[opened=false] {
		display: none;
	}
}

.close-settings {
	position: absolute;
	left: 100%;
	margin-left: -70px;
	bottom: 14px;
	display: none;

	@media only screen and (max-width: 500px) {
		display: block;
	}
}
.open-settings {
	bottom: 60px;
	left: 230px;
	position: relative;
	display: none;
	
	@media only screen and (max-width: 500px) {
		display: block;
	}

}


.artifacts {
	margin: 5px;
	padding: 5px;
	position: absolute;
	height: calc(100% - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
	width: 400px;
	
	[artifact] {
		user-select: none;
		cursor: pointer;
		padding-bottom: 6px;
		padding-left: 4px;
		.delete {
			margin-right: 4px;
			position: relative;
			top: 6px;
			color: $red;
		}
	}
	[artifact]:hover {
		background-color: #fff5;
	}
	@media only screen and (max-width: 500px) {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.blur {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000c;
		z-index: 2;
	}
}