@charset "UTF-8";
@font-face {
  font-family: "Genshin";
  src: url("../media/Genshin_Impact_Font.woff") format("woff");
}
.artifact-container {
  text-align: left;
  position: absolute;
  margin-top: 1%;
  width: 492px;
  left: calc(50% - 246px);
}
@media only screen and (max-width: 500px) {
  .artifact-container {
    width: 98%;
    left: 1%;
  }
}
.artifact-container .backdrop {
  opacity: 0.2;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-blend-mode: color;
  height: 225px;
  right: 0px;
  top: 58px;
}

.header {
  font-size: 33px;
  background: #bc6932;
  height: 58px;
  z-index: 10;
}
@media only screen and (max-width: 500px) {
  .header {
    font-size: 28px;
  }
}
.header .artifact-border {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  filter: blur(0.5px);
}
.header .artifact-border div, .header .artifact-border img {
  height: 58px;
  position: absolute;
}
.header .artifact-border .artifact-border-middle {
  width: 98%;
  left: 1%;
}
.header .artifact-border .artifact-border-right {
  right: 0px;
  transform: rotateY(180deg);
}
.header .name {
  filter: blur(0.5px);
  padding-top: 10px;
  padding-left: 24px;
  max-height: 100%;
  font-size: 32px;
  vertical-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.top {
  height: 220px;
  border-bottom: 5px solid #886a51;
  padding-left: 24px;
}
.top .piece {
  filter: blur(0.5px);
  letter-spacing: 0px;
  position: relative;
  top: 12px;
  font-size: 20px;
}
.top .image {
  height: 224px;
  width: auto;
  position: absolute;
  top: 58px;
  right: 5px;
}
@media only screen and (max-width: 500px) {
  .top .image {
    height: 180px;
  }
}
.top .mainstat {
  filter: blur(0.5px);
  position: relative;
  top: 69px;
}
.top .mainstat .type {
  color: #beaea9;
  font-size: 20px;
}
.top .mainstat .value {
  letter-spacing: 0px;
  font-size: 45px;
}
.top .rarity {
  color: #ffcc32;
  position: relative;
  top: 70px;
}
.top .rarity span {
  letter-spacing: -7px;
  font-size: 40px;
}

.bottom {
  color: #38434e;
  background-color: #e4ded2;
  padding-left: 32px;
  height: 300px;
  position: relative;
}
.bottom .level {
  filter: blur(0.5px);
  text-align: center;
  color: white;
  width: 52px;
  height: 27px;
  padding-left: 2px;
  border-radius: 5px;
  background: #38434e;
  position: relative;
  top: 26px;
  font-size: 23px;
}
@media only screen and (max-width: 500px) {
  .bottom .level {
    padding-top: 1px;
  }
}
.bottom .substats {
  filter: blur(0.5px);
  color: #556;
  position: relative;
  top: 42px;
  font-size: 25px;
}
@media only screen and (max-width: 500px) {
  .bottom .substats {
    font-size: 24px;
  }
}
.bottom .substats .stat {
  padding-top: 8px;
}
.bottom .substats .stat::before {
  padding-left: 6px;
  padding-right: 8px;
  font-size: 20px;
  content: "•";
  position: relative;
  top: -3px;
}
.bottom .set {
  filter: blur(0.5px);
  position: relative;
  top: 51px;
  color: #5cb256;
  font-size: 24px;
}

.top[rarity="5"] {
  background: linear-gradient(345deg, rgba(0, 0, 0, 0) 5%, #a4744e 50%, #655151 100%), linear-gradient(325deg, rgba(0, 0, 0, 0) 5%, #a4744e 50%, #655151 100%), #f1ac3f;
}

body {
  color: #eee;
  font-family: "Genshin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #333;
  margin: 0 0 0 0;
  letter-spacing: -1px;
}

.levelup {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.levelup #enhance {
  width: 340px;
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  .levelup #enhance {
    width: 240px;
  }
}
.levelup .levels {
  left: 10px;
  height: 62px;
  display: inline-block;
  color: #ffcc32;
  font-size: 28px;
}
.levelup .levels input {
  color: #ffcc32;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 62px;
  width: 40px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  font-family: "Genshin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
}
.levelup .levels input:focus {
  outline: 0;
}
.levelup .levels input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.levelup .levels .updown {
  position: absolute;
  right: 6px;
  top: -10px;
  font-size: 50px;
  line-height: 40px;
}
.levelup .levels .updown div {
  padding: 5px 0 0 8px;
  margin-bottom: 2px;
  background-color: #38434e;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.levelup .levels .updown .down {
  font-size: 54px;
}
.levelup .levels .updown > div:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2666666667);
}
.levelup .levels .updown > div:active {
  color: #ffff5a;
  background: #978159;
}

.link {
  left: 14px;
  position: absolute;
  bottom: 10px;
}
.link a {
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .link {
    display: none;
  }
}

.settings {
  z-index: 3;
  width: 650px;
  position: absolute;
  left: calc(50% + 246px);
  margin-left: 20px;
  padding: 10px;
  padding-bottom: 50px;
}
.settings label {
  min-width: 60px;
  display: inline-block;
}
.settings .link {
  display: none;
}
@media only screen and (max-width: 500px) {
  .settings {
    left: 0px;
    width: calc(100% - 20px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 0px;
    padding-top: 50px;
    background: #38434e;
  }
  .settings .link {
    display: block;
  }
}

.enhanced-reroll-container {
  top: 30px;
  margin-left: 20px;
  position: absolute;
}
.enhanced-reroll-container div {
  display: inline-block;
}
.enhanced-reroll-container .checkbox {
  position: relative;
  top: 8px;
  left: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  .settings[opened=false] {
    display: none;
  }
}
.close-settings {
  position: absolute;
  left: 100%;
  margin-left: -70px;
  bottom: 14px;
  display: none;
}
@media only screen and (max-width: 500px) {
  .close-settings {
    display: block;
  }
}

.open-settings {
  bottom: 60px;
  left: 230px;
  position: relative;
  display: none;
}
@media only screen and (max-width: 500px) {
  .open-settings {
    display: block;
  }
}

.artifacts {
  margin: 5px;
  padding: 5px;
  position: absolute;
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  width: 400px;
}
.artifacts [artifact] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding-bottom: 6px;
  padding-left: 4px;
}
.artifacts [artifact] .delete {
  margin-right: 4px;
  position: relative;
  top: 6px;
  color: #e6455f;
}
.artifacts [artifact]:hover {
  background-color: rgba(255, 255, 255, 0.3333333333);
}
@media only screen and (max-width: 500px) {
  .artifacts {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */