@font-face {
  font-family: "Genshin";
  src: url("../media/Genshin_Impact_Font.woff") format("woff");
}
.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e4ded2;
  cursor: pointer;
  height: 62px;
  border-radius: 31px;
  width: 300px;
  font-size: 28px;
  color: #38434e;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .button {
    width: 200px;
  }
}
.button .circle {
  display: inline-block;
  position: relative;
  top: 11px;
  left: 11px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #38434e;
}
.button .circle .ring {
  border-radius: 15px;
  border: 3px solid #ffcc32;
}
.button .circle .icon {
  position: relative;
  top: 9px;
  left: 9px;
  height: 16px;
  width: 16px;
}
.button .label {
  display: inline-block;
  position: relative;
  left: 80px;
}
@media only screen and (max-width: 500px) {
  .button .label {
    left: 34px;
  }
}

.button:hover {
  outline: 3px solid #fff;
  box-shadow: 0 0 6px #fff;
}

.button:active {
  box-shadow: 0 0 8px #fff;
  outline: 3px solid #888;
  background: #cdc2b6;
  -webkit-tap-highlight-color: transparent;
}
.button:active .label {
  color: #fff;
}
.button:active .circle {
  background: #978159;
}
.button:active .circle .ring {
  border: 3px solid #ffff5a;
}

.button-no-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e4ded2;
  cursor: pointer;
  width: 58px;
  height: 58px;
  border-radius: 31px;
  font-size: 28px;
  color: #38434e;
  outline: 6px solid #bbb;
  outline-offset: -6px;
  transition: outline-width 50ms, outline-offset;
}
.button-no-label .icon {
  position: relative;
  top: 11px;
  left: 11px;
  font-size: 36px;
}

.button-no-label:hover {
  outline: 3px solid #fff;
  outline-offset: -3px;
  box-shadow: 0 0 6px #fff;
}

.button-no-label:active {
  box-shadow: 0 0 8px #fff;
  outline: 0px solid #888;
  outline-offset: 0px;
  background: #cdc2b6;
  -webkit-tap-highlight-color: transparent;
}
.button-no-label:active .label {
  color: #fff;
}
.button-no-label:active .circle {
  background: #978159;
}
.button-no-label:active .circle .ring {
  border: 3px solid #ffff5a;
}

.checkbox-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: inline-block;
}
.checkbox-container .checkbox {
  display: inline-block;
  width: 78px;
  height: 35px;
  border-radius: 22px;
  outline: 2px solid #e9e3d7;
  border: 3px solid #293443;
  background: #353d4f;
  transition: background-color 0.1s, outline-color 0.1s;
}
.checkbox-container .checkbox .checkmark {
  height: 35px;
  width: 35px;
  border-radius: 19px;
  background: #ece5d8;
  color: #d3bc8e;
  box-shadow: 0 0 6px #e9e3d7;
  transition: margin 0.1s, background-color 0.1s, color 0.1s;
}
.checkbox-container .checkbox .checkmark .icon::before {
  /*material icon "close" */
  padding-left: 3px;
  line-height: 1.3;
  font-size: 28px;
  font-weight: bold;
  content: "\e5cd";
}
.checkbox-container input[type=checkbox]:checked ~ .checkbox {
  border-color: #c1a77c;
  background: #d3bc8e;
}
.checkbox-container input[type=checkbox]:checked ~ .checkbox .checkmark {
  margin: 0 0 0 43px;
  background: #fff6dd;
  color: #7f8b9c;
}
.checkbox-container input[type=checkbox]:checked ~ .checkbox .checkmark .icon::before {
  /*material icon "check" */
  content: "\e5ca";
}
.checkbox-container input[type=checkbox] {
  display: none;
}

details.select {
  letter-spacing: 0px;
  position: relative;
  width: 300px;
  font-size: 20px;
  height: 50px;
  padding-left: 25px;
  padding-right: 15px;
  cursor: pointer;
  border-radius: 30px;
  background: #e4ded2;
}
details.select summary.radios {
  height: 100%;
  list-style: none;
  counter-reset: radios;
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
}
details.select summary.radios input[type=radio] {
  counter-increment: radios;
  pointer-events: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  top: -2px;
  left: 0px;
  position: relative;
  height: 100%;
}
details.select summary.radios input[type=radio]:checked {
  display: inline-block;
}
details.select summary.radios input[type=radio]:checked + ul > li {
  background-color: #606979;
}
details.select summary.radios input[type=radio]:after {
  font-size: 20px;
  top: calc(50% - 10px);
  position: relative;
  font-family: "Genshin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: attr(title);
  display: inline;
  color: #38434e;
}
details.select summary::-webkit-details-marker {
  display: none;
}
details.select summary:after {
  float: right;
  position: absolute;
  top: 16px;
  right: 20px;
  /*color: $dark-color;*/
  /*google why does this icon not do shit?*/
  /*content: '\e5cf';*/
  content: "";
  /* look what you made me do */
  background: linear-gradient(315deg, #38434e 50%, rgba(0, 0, 0, 0) 50%);
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
}
details.select ul {
  z-index: 2;
  margin-top: 10px;
  padding-left: 0px;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 5px;
  border-radius: 30px;
  box-sizing: border-box;
  background: #495366;
  max-height: 400px;
  overflow-y: scroll;
}
details.select ul label {
  width: 100%;
  cursor: pointer;
  height: 50px;
  color: #fff;
  white-space: nowrap;
  border-radius: 30px;
  list-style: none;
}
details.select ul label li {
  position: relative;
  top: calc(50% - 10px);
}
details.select ul label:hover {
  background: #606979;
}

details.select:active, details.select:hover {
  outline: 3px solid #fff;
  box-shadow: 0 0 6px #fff;
  -webkit-tap-highlight-color: transparent;
}

details[open] {
  z-index: 1;
}
details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.settings .setting:first-child {
  margin-top: 0px;
}
.settings .setting {
  height: 50px;
  font-size: 24px;
  margin-top: 10px;
  color: #38434e;
  background: #ece5d8;
  padding-left: 20px;
  border-radius: 30px;
}
.settings .setting .label {
  padding-left: 10px;
  padding-top: 12px;
  display: inline-block;
}
.settings .setting .input {
  display: inline;
  float: right;
  background: #d8cdb9;
  border-radius: 0 25px 25px 0;
  text-align: center;
}
.settings .setting .input::before {
  left: -125px;
  top: 0px;
  position: absolute;
  content: "";
  height: 50px;
  width: 150px;
  background-image: url("../media/star-fade.svg");
  background-size: contain;
}
@media only screen and (max-width: 500px) {
  .settings .setting .input::before {
    height: 30px;
    width: 90px;
    left: -75px;
  }
}
@media only screen and (max-width: 500px) {
  .settings .setting {
    height: 30px;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 30px;
  }
  .settings .setting .label {
    padding-left: 0px;
    padding-top: 6px;
  }
  .settings .setting .input.select {
    height: 30px;
    width: 200px;
  }
  .settings .setting details.select summary:after {
    top: 6px;
    right: 12px;
    width: 12px;
    height: 12px;
  }
  .settings .setting details.select summary.radios input[type=radio]:after {
    font-size: 16px;
    top: 5px;
  }
  .settings .setting details.select ul {
    margin-top: 0px;
    overflow-x: hidden;
    padding-top: 2px;
    border-radius: 15px;
  }
  .settings .setting details.select ul label {
    overflow-x: hidden;
    border-radius: 15px;
    height: 30px;
    font-size: 16px;
  }
}
.settings .setting.active, .settings .setting:hover {
  outline: 3px solid #fff;
  box-shadow: 0 0 6px #fff;
}
.settings details.select:active, .settings details.select:hover {
  outline: 0px solid #fff;
  box-shadow: 0 0 0px #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #5d6260;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}/*# sourceMappingURL=ui.css.map */