$bg-color: #333;
$color: #eee;
$yellow: #ffcc32;

$font-family: "Genshin","Helvetica Neue",Helvetica,Arial,sans-serif;
@font-face {
	font-family: "Genshin";
	src: url('../media/Genshin_Impact_Font.woff') format('woff');
}


@import './ui/_button.scss';
@import './ui/_checkbox.scss';
@import './ui/_select.scss';


::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: #5d6260;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}