
$color: #38434e;

.button {
	user-select: none;
	background-color: #e4ded2;
	cursor: pointer;
	height: 62px;
	border-radius: 31px;
	width: 300px;
	font-size: 28px;
	color: $color;
	
	position: relative;

	
	@media only screen and (max-width: 500px) {
		width: 200px;
	}
	
	.circle {
		display: inline-block;
		position: relative;
		top: 11px;
		left: 11px;
		height: 40px;
		width: 40px;
		border-radius: 20px;
		background: $color;
		.ring {
			position: relative;
			top: 9px;
			left: 9px;
			height: 16px;
			width: 16px;
			border-radius: 15px;
			border: 3px solid $yellow;
		}
	}
	
	.label {
		display: inline-block;

		position: relative;
		left: 80px;
			
		@media only screen and (max-width: 500px) {
			left: 34px;
		}
	}
}

.button:hover {
	outline: 3px solid white;
	box-shadow: 0 0 6px white;
}
.button:active {
	box-shadow: 0 0 8px white;
	outline: 3px solid #888;
	background: #cdc2b6;
	-webkit-tap-highlight-color: transparent;
	.label {
		color: #fff;
	}
	.circle {
		background: #978159;
		.ring {
			border: 3px solid #ffff5a;
		}
	}
}