.checkbox-container {
	user-select: none;
	position: relative;
	display: inline-block;
	.checkbox {
		display: inline-block;
		width: 78px;
		height: 35px;
	
		border-radius: 22px;
		outline: 2px solid #e9e3d7;
		
		border: 3px solid #293443;
		background: #353d4f;

		transition: background-color 0.1s, outline-color 0.1s;
		.checkmark {
			height: 35px;
			width: 35px;
			border-radius: 19px;
			
			background: #ece5d8;
			color: #d3bc8e;
			box-shadow: 0 0 6px #e9e3d7;

			transition: margin 0.1s, background-color 0.1s, color 0.1s;

		
			.icon::before {
				/*material icon "close" */
				padding-left: 3px;
				line-height: 1.30;
				font-size: 28px;
				font-weight: bold;
				content: "\e5cd";
			}
		}
	}

	input[type="checkbox"]:checked ~ {
		.checkbox {			
			border-color: #c1a77c;
			background: #d3bc8e;
				
			.checkmark {
				margin: 0 0 0 43px;
				background: #fff6dd;
				color: #7f8b9c;

				.icon::before {
					/*material icon "check" */
					content: "\e5ca";
				}
			}
		}
	}

	input[type="checkbox"] {
		display: none;
	}
}